---
const skills = ["Multimodal Foundation Models", "Multimodal Evaluation & Benchmarking", "Teleoperation & Data Collection", "Python", "ML Frameworks", "C++, C"];
---

<section id="About" class="container mx-auto mb-20 p-6">
    <h2 class="heading text-4xl md:text-6xl mb-12">About Me</h2>
    <div class="grid grid-cols-1 md:grid-cols-[auto_auto] items-center md:p-0 gap-8">
        <div
            class="w-full aspect-square] md:max-w-[500px] overflow-hidden rounded-3xl"
        >
            <img
                src="/avatar.png"
                alt="Portrait of me"
                class="w-full h-full object-cover"
            />
        </div>

        <div>
            <div class="text-lg md:text-2xl text-secondary text-justify space-y-4">
                <p>
                    I'm a recent <b>Master's graduate</b> and <b>ICRA author</b> working at the intersection of
                    <b>Foundation Models</b> and <b>Robotics</b>. My focus is on Vision-Language-Action (VLA)
                    architectures and visual grounding, with the goal of advancing embodied AI.
                </p>
                <p>
                    I completed my Bachelor's and Master's degrees in Informatics at the <b>Karlsruhe Institute
                    of Technology (KIT)</b>. During my studies, I conducted my Master's thesis at ETH Zurich's
                    <b>Robotic Systems Lab (RSL)</b> and spent two exchange semesters at the <b>University of
                    Skövde</b> in Sweden. I also gained hands-on experience deploying and evaluating VLA systems
                    through my work at KIT's <b>Intuitive Robots Lab (IRL)</b>.
                </p>
            </div>
            <div>
                <h3 class="heading text-2xl uppercase my-8 text-secondary">
                    My Skills
                </h3>
                <div class="flex flex-wrap gap-4 mt-8">
                    {skills.map((skill) => (
                        <span class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-2 outline-secondary">
                            {skill}
                        </span>
                    ))}
                </div>
            </div>
        </div>
    </div>
</section>
