---
import Card from "./Card.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const allProjects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
).slice(0, 3);
---

<section id="Projects" class="container mx-auto mb-20 px-6">
  <div class="overflow-hidden mb-12">
    <h2 class="heading text-4xl md:text-6xl">Selected Projects</h2>
  </div>
  {allProjects.map((project) => <Card entry={project} />)}
</section>
